@font-face {
   
   font-family: "Dusty Pro";    
   src: url("../../fonts/Dusty Pro.ttf") format("truetype"); 
   font-style: normal; 
   font-weight: normal; 
 } 
 .logo a:visited{
   color: #32353b ;
   text-decoration: none;
 }
.logo a{
   text-decoration: none;
   font-family: Dusty Pro;
   font-size: 120px;
   color: #32353b ;
   cursor: help;
   text-transform: uppercase;
   color: transparent;
   -webkit-text-stroke: 1px #32353b;
   position: relative;
}
.logo a::before{
   content: attr(data-text);
   position: absolute;
   color: #32353b;
   width: 0%;
   overflow: hidden;
   transition: 1s; 
   border-right: 8px solid #32353b;
}
.logo a:hover::before{
   width: 100%;
}